tests/__pycache__/*
MFPipeline/__pycache__/*
controller_debug.ipynb
.ipynb_checkpoints/
tests/test_controller/*
tests/test_cmd/output/*
MFPipeline/analyst/__pycache__/*
MFPipeline/controller/__pycache__/*
tests/__pycache__/*
tests/test_logs/*
MFPipeline/fitting_support/*
.idea/Microlensing_Fitting_Pipeline.iml
tests/__pycache__/*
